@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-praimary: #ecf0f3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
h1, h2{
    font-family: "Saira", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
.text-primary{
    color: var(--secondary-color);
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.btn-praimary{
    background-color: var(--secondary-color);
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}
.btn-praimary:hover{
    background-color: #15a076;
}

/*************START HEADER**************************/
header{
    height: 100vh;
    background-color: #e9f2f2;
}
header .nav_bar{
    margin: auto;
    border-bottom: 1px solid #ccc;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}
header #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}
header .nav_bar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}
header .nav_bar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav_bar nav ul a{
    margin: 0 10px;
    color: var(--primary-color);
    font-weight: 600;
}

header .header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1100px;
    padding: 5rem 2rem 0;
    margin: auto;
    height: 100%;
}
header .header-content .content-text{
    margin-bottom: 5rem;
}

header .header-content p span{
    font-weight: 700;
    font-size: 20px;
}
header .header-content h1{
    font-size: 60px;
    color: var(--primary-color);
    margin-top: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    line-height: 5rem;
}
header .header-content .title{
    font-size: 20px;
    color: var(--primary-color);
    padding: 10px 0px;
    font-weight: 500;
}
header .header-content .social{
    margin: 1rem 0 2rem;
}
header .header-content .social a i{
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color: white;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.3s ease;
}
header .header-content .social a i:hover{
    transform: scale(0.85);
}
header .header-content img{
    max-width: 450px;
    border-radius: 50%;
    border: 1px solid var(--bg-praimary);
    box-shadow: 0 0 5px var(--primary-color);
}


/*************END HEADER**************************/


/******************START ABOUT************************/
#about, #skills, #services, #portfolio{
    padding: 6rem 0;
}
#about .container h2,
#skills h2, #services h2, #portfolio h2, #contact h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#about .container hr, 
#skills hr, #services hr, #portfolio hr{
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .about-content .coll h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
#about .about-content .coll p{
    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}
#about .about-content .coll2 p{
    color: var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}


/******************END ABOUT************************/


/******************Strat Skills********************/
#skills {
    background-color: var(--primary-color);
}
#skills h2, #portfolio h2{
    color: white;
    font-family: "Poppins", sans-serif;
}
#skills .skills-content{
    margin-top: 2rem;
    background-color: #0f272d ;
}
#skills .skills-content .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-content .row .item{
    color: white;
    background-color: black;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}
#skills .skills-content .row .item:hover{
    box-shadow: 10px 10px 10px #00f4ab0c;
}


#skills .row img{
    max-width: 40px;
}



/******************End Skills********************/
/******************Strat Services****************/
#services, #contact {
    background-color: #00f4ab0c;
}
#services .heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .heading img{
    width: 55px;
    margin-right: 10px;

}
#services .row .item{
    background-color: white;
    padding: 30px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease;
}
#services .row .item:hover{
    transform: scale(1.04);
}
#services .row .item h3{
    margin: 15px 0;
    color: var(--primary-color);
}
#services .row .item p{
    font-size: 14px;
    
}
#services .row .item img{
    max-width: 100px;
}
#services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;

}



/******************End Services****************/

/*******************START PORTFOLIO*****************/
#portfolio{
    background-color: var(--primary-color);
}
#portfolio .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
#portfolio .row .item img{
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #ccc;
}
#portfolio .row .item{
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#portfolio .row .item:hover{
    transform: scale(1.03);
}
#portfolio .row .item .item-content{
    padding: 20px 15px 30px;
}
#portfolio .row .item .item-content h3{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
#portfolio .row .item .item-content a{
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}


/*******************End PORTFOLIO*****************/


/***************START CONTATC********************/
#contact{
    padding: 4rem 0;
}
#contact .row{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
    column-gap: 2rem;
}
#contact .row input, textarea{
    display: block;
    width: 100%;
    margin: 20px 0px;
    padding: 10px ;
    background-color: #00f4ab0c;
    border: 1px solid #bbbb;
    outline: none;
    border-radius: 10px;
}
#contact .row img{
    max-width: 400px;
}
/***************END CONTATC********************/

/*********start foter*******************/
#footer{
    background-color: #222;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
/*********end foter*******************/



/**********RESPOSIVE IPAD**************/
@media (max-width:900px){
    header .header-content{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header .header-content h1{
        font-size: 50px;
    }
    header .header-content p span{
        font-size: 18px;
    }
    header .header-content img{
        max-width: 350px;
        margin-left: 50%;
        transform: translateX(-50%);

    }
    header .header-content img{
        margin-top: 1rem;
    }
    header .header-content .content-text{
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    header .header-content .title{
        padding: 5px 0;
    }
    header .header-content h1{
        margin-top: 5px;
    }
    #about .about-content{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #about .about-content{
        margin-top: 2rem;
    }
    #about, #skills, #services, #portfolio{
        padding: 6rem 0;
    }
    #contact .row img{
        max-width: 250px;
    }
    header #logo{
        font-size: 19px;
    }
    header .nav_bar nav ul a{
        font-size: 13px;
        font-weight: 700;
    }
    #skills .skills-content .row{
        grid-template-columns: 1fr 1fr;
    }
    #services .row{
        grid-template-columns: 1fr 1fr;
    }
    #portfolio .row{
        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width:610px){
    header .nav_bar nav{
        display: block;
        margin: auto;
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header .nav_bar nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .nav_bar nav ul a{
        margin-left: 5px;
    }
    #skills .skills-content .row{
        grid-template-columns: 1fr 1fr;
    }
    #services .row{
        grid-template-columns: 1fr 1fr;
    }
    #portfolio .row{
        grid-template-columns: repeat(2, 1fr);
    }
    #contact .row{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    #contact .row img{
        align-self: center;
        margin-left: 50%;
        transform: translateX(-50%);
        max-width: 200px;
    }
    #about, #skills, #services, #portfolio{
        padding: 8rem 0;
    }

}
@media (max-width:470px){
    header .nav_bar nav ul a{
        margin: 5px;
        font-size: 14px;

    }
    header .nav_bar nav ul li{
        text-align: center;
    }
    header .nav_bar{
        position: fixed;
        width: 100%;
    }
    #about .container h2,
#skills h2, #services h2, #portfolio h2, #contact h2{
    font-size: 28px;
}
#about .about-content .coll h3{
    font-size: 20px;
}
#about .about-content .coll p{
    font-size: 16px;
}
#about .about-content .coll2 p{
    font-size: 14px;
}
#skills .skills-content .row{
    grid-template-columns: 1fr;
}
#services .row{
    grid-template-columns: 1fr;
}
#portfolio .row{
    grid-template-columns: 1fr;
}
#about{
    padding: 6rem 0 5;
}
#footer{
    font-size: 13px;
}
header .header-content p span{
    font-size: 15px;
}
header .header-content h1{
    font-size: 35px;
    line-height: 3rem;
}
header .header-content img{
    max-width: 280px;
}

}